@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

.input-field {
	width: 100%;
	padding: 15px; /* Increased padding for input fields */
	margin: 10px 0;
	border: 1px solid #ccc;
	border-radius: 10px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	transition: border 0.3s, box-shadow 0.3s;
}

.input-field:focus {
	border: 1px solid #007aff; /* iOS blue */
	box-shadow: 0 0 5px rgba(0, 122, 255, 0.5);
	outline: none; /* Remove default outline */
}

.button {
	width: 100%;
	background-color: #007aff;
	color: white;
	padding: 15px; /* Increased padding for the button */
	border: none;
	border-radius: 10px;
	cursor: pointer;
	font-weight: bold;
	transition: background 0.3s, transform 0.3s;
	margin-top: 10px; /* Add margin for spacing */
}

.button:hover {
	background-color: #005bb5; /* Darker blue for hover */
	transform: scale(1.05); /* Slightly enlarge on hover */
}
